.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center align the content horizontally */
}

.stats-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background for style */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1; /* Take up 50% of the available width */
  margin-right: 10px; /* Add some space between Statistics and Featured Project */
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat {
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px; /* Add some space between the stat cards */
}

.featured-other-projects {
  display: flex; /* Display Featured Project and Other Projects in the same row */
  flex: 1; /* Take up 100% of the available width in the row */
  justify-content: space-between; /* Add space between Featured Project and Other Projects */
}

.featured-project {
  flex-basis: calc(50% - 10px); /* Take up 50% of the available width (minus margin) */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-highlight img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
}

.project-highlight h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-highlight p {
  font-size: 16px;
}

.other-projects {
  flex-basis: calc(50% - 10px); /* Take up 50% of the available width (minus margin) */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.other-projects h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.other-project-item {
  text-align: center;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(33.33% - 10px); /* Each item takes 33.33% width */
  margin-bottom: 15px;
}

.other-project-item h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.other-project-item p {
  font-size: 14px;
  margin-bottom: 8px;
}

.other-project-item img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 8px;
}
