.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .list span {
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .list li {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .list li img {
    max-width: 100%;
  }
  
  .list h3 {
    margin: 10px 0;
  }
  
  .list p {
    margin: 5px 0;
  }
  
  .list button {
    background-color: teal;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }